<div class="container h-100 bg-grey"
     style="margin-top:10%;">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-md-4" name="form" #f="ngForm" novalidate>
            <h6 class="text-center"
                style="padding-bottom: 50px;">Change Password</h6>
            <div class="form-group">
                <label for="currentPassword">CURRENT PASSWORD</label>
                <input type="password"
                       [(ngModel)]="passwordData.currentPassword"
                       class="form-control"
                       id="currentPassword"
                       name="currentPassword"
                       placeholder="*****************"
                       #currentPassword="ngModel"
                       [ngClass]="{'is-invalid': f.submitted && currentPassword.invalid}"
                       required
                       (keyup)="currentPasswordErr = false">
                <!-- <span class="error-message"
                      *ngIf="currentPasswordErr">Current Password is required.</span> -->
                      <div class="invalid-feedback">
                        Current Password is required
                      </div>
            </div>
            <div class="form-group">
                <label for="password1">PASSWORD</label>
                <input type="password"
                       [(ngModel)]="passwordData.password1"
                       name="password1"
                       class="form-control"
                       placeholder="*****************"
                       id="password1"
                       required
                       #password1="ngModel"
                       [ngClass]="{'is-invalid': f.submitted && password1.invalid}"
                       (keyup)="pass1ErrorMsg = false">
                <!-- <span class="error-message"
                      *ngIf="pass1ErrorMsg">Enter a password.</span> -->
                      <div class="invalid-feedback">
                        This is required
                      </div>
            </div>

            <div class="form-group">
                <label for="reentered">PASSWORD</label>
                <input type="password"
                       [(ngModel)]="passwordData.reentered"
                       name="reentered"
                       class="form-control"
                       placeholder="*****************"
                       id="reentered"
                       required
                       #reentered="ngModel"
                       [ngClass]="{'is-invalid': f.submitted && reentered.invalid}"
                       (keyup)="reenteredErrorMsg = false">
                <!-- <span class="error-message"
                      *ngIf="reenteredErrorMsg">Confirm Password.</span> -->

                      <div class="invalid-feedback">
                        This field is required
                      </div>
            </div>
            
            <div class="row d-flex justify-content-center">
                <span class="error-message"
                      *ngIf="invalidMsg">Passwords Mismatch</span>
            </div>
            <div class="row d-flex justify-content-center">
                    <span class="success-message"
                          *ngIf="validMsg">Password Changed Successfully.</span>
                </div>
            <div class="row d-flex justify-content-end  margin-0 margin-t-5">
                <button type="submit"
                (click)="changePassword($event, passwordData.currentPassword, passwordData.password1, passwordData.reentered)"
                        class="btn btn-danger capsule-btn">Change Password</button>
            </div>
        </form>
    </div>
</div>
